<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Admins
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <table mat-table [dataSource]="data" matSort matSortActive="fullName" matSortDirection="asc" matSortDisableClear>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- FullName Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- EmailConfirmed Column -->
      <ng-container matColumnDef="emailConfirmed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Confirmed </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.emailConfirmed">true</span>
          <button *ngIf="!element.emailConfirmed"
                  mat-flat-button color="accent"
                  (click)="onConfirmEmailEvent(element.email)">
                  Send Confirm Email
          </button>
        </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

       <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="actions-wrapper">

            <button mat-flat-button color="accent" class="action-btn"
                    (click)="onEditEvent(element)">
              Edit
            </button>
            <button mat-flat-button color="warn" class="action-btn"
            (click)="onDeleteEvent(element.id, element.username)">Delete</button>

          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [length]="resultsLength"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

  </mat-card-content>
</mat-card>