<h1 mat-dialog-title>Set lecturer</h1>

<div mat-dialog-content>

  <form>
    <mat-form-field appearance="fill" style="width: 100%;">
  
      <mat-label>Lecturer</mat-label>
  
      <mat-chip-grid #chipGrid>
        <mat-chip-row *ngIf="lecturer" (removed)="remove()">
          {{lecturer?.fullName}}
  
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
  
     <input placeholder="Type lecturer name" #lecturerInput [formControl]="lecturerCtrl"
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"/>
  
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let lecturerOpt of filteredLecturers | async" [value]="lecturerOpt.id">
          {{lecturerOpt.fullName}}
        </mat-option>
      </mat-autocomplete>
  
    </mat-form-field>
  </form>

</div>

<div mat-dialog-actions class="actions">
  <button mat-flat-button
          mat-dialog-close
          color="warn">
          Cancle
  </button>

  <button mat-flat-button
          color="primary"
          (click)="onSubmitEvent()"
          type="submit"
          cdkFocusInitial>
          Add
  </button>
</div>