<form [formGroup]="loginForm" novalidate (ngSubmit)="submit()">
  <mat-card-content>
    <mat-form-field appearance="outline">

      <mat-label>Enter your Username</mat-label>
      <input #username type="text" matInput placeholder="Username" formControlName="username">
      
      <mat-hint align="end">{{username.value.length}}/16</mat-hint>
      <mat-error>Username is invalid</mat-error>

    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">

      <mat-label>Enter your password</mat-label>
      <input #password type="password" matInput placeholder="Password" formControlName="password">

      <mat-hint align="end">{{password.value.length}}/64</mat-hint>
      <mat-error>Password is invalid</mat-error>

    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="actions">
    <button type="submit" mat-raised-button color="primary">Next</button>
  </mat-card-actions>
</form>
