<h1 mat-dialog-title>{{title}}</h1>

<div mat-dialog-content>
  
  <form #userForm [formGroup]="newUserForm" novalidate>
    <mat-card-content>
      <mat-form-field appearance="outline">
  
        <mat-label>Enter Surname</mat-label>
        <input #surname type="text" matInput placeholder="Surname" formControlName="surname">
        
        <mat-hint align="end">{{surname.value.length}}/256</mat-hint>
        <mat-error>Surname is invalid</mat-error>
  
      </mat-form-field>

      <br><br>

      <mat-form-field appearance="outline">
  
        <mat-label>Enter Lastname</mat-label>
        <input #lastname type="text" matInput placeholder="Lastname" formControlName="lastname">
        
        <mat-hint align="end">{{lastname.value.length}}/256</mat-hint>
        <mat-error>Lastname is invalid</mat-error>
  
      </mat-form-field>

      <br><br>

      <mat-form-field appearance="outline">
  
        <mat-label>Enter Username</mat-label>
        <input #username type="text" matInput placeholder="Username" formControlName="username">
        
        <mat-hint align="end">{{username.value.length}}/16</mat-hint>
        <mat-error>Username is invalid</mat-error>
  
      </mat-form-field>

      <br><br>

      <mat-form-field appearance="outline">
  
        <mat-label>Enter Password</mat-label>
        <input #password type="password" matInput placeholder="Password" formControlName="password">
  
        <mat-hint align="end">{{password.value.length}}/64</mat-hint>
        <mat-error>Password is invalid</mat-error>
  
      </mat-form-field>

      <br><br>

      <mat-form-field appearance="outline">
  
        <mat-label>Confirm Password</mat-label>
        <input #confirmPassword type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
  
        <mat-hint align="end">{{confirmPassword.value.length}}/64</mat-hint>
        <mat-error>Passwords Mismatch</mat-error>
  
      </mat-form-field>

      <br><br>

      <mat-form-field appearance="outline">
  
        <mat-label>Enter Email</mat-label>
        <input #email type="text" matInput placeholder="Email" formControlName="email">
        
        <mat-error>Email is invalid</mat-error>
  
      </mat-form-field>

      <br><br>

      <mat-form-field appearance="outline">
  
        <mat-label>Enter Phone number</mat-label>
        <input #confirmPassword type="tel" matInput placeholder="Phone number" formControlName="phoneNumber">
  
        <mat-error>Phone number is invalid</mat-error>
  
      </mat-form-field>
  
    </mat-card-content>
  </form>
  
</div>

<div mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close color="warn">Cancle</button>
  <button mat-flat-button cdkFocusInitial color="primary" (click)="onSubmitEvent()" type="button">{{submitBtnText}}</button>
</div>
