<h1 mat-dialog-title>Add course</h1>

<div mat-dialog-content>

  <form>
    <mat-form-field appearance="fill" style="width: 100%;">
  
      <mat-label>Course</mat-label>
  
      <mat-chip-grid #chipGrid>
        <mat-chip-row *ngFor="let course of courses" (removed)="remove(course)">
          {{course.name}}
  
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
  
      <input placeholder="Type course name" #courseInput [formControl]="courseCtrl"
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"/>
  
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let course of filteredCourses | async" [value]="course">
          {{course}}
        </mat-option>
      </mat-autocomplete>
  
    </mat-form-field>
  </form>

</div>

<div mat-dialog-actions class="actions">
  <button mat-flat-button
          mat-dialog-close
          color="warn">
          Cancle
  </button>

  <button mat-flat-button
          color="primary"
          (click)="onSubmitEvent()"
          type="submit"
          cdkFocusInitial>
          Add
  </button>
</div>
