@use '@angular/material' as mat;

@include mat.core();
/* For use in src/lib/core/theming/_palette.scss */
$custom-palette-primary: (
  50 : #e7eaed,
  100 : #c2cad2,
  200 : #9aa7b4,
  300 : #728395,
  400 : #53697f,
  500 : #354e68,
  600 : #304760,
  700 : #283d55,
  800 : #22354b,
  900 : #16253a,
  A100 : #7aadff,
  A200 : #478eff,
  A400 : #146fff,
  A700 : #0060f9,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$custom-palette-accent: (
  50 : #e2f4f3,
  100 : #b7e3e2,
  200 : #88d0ce,
  300 : #58bdba,
  400 : #34afac,
  500 : #10a19d,
  600 : #0e9995,
  700 : #0c8f8b,
  800 : #098581,
  900 : #05746f,
  A100 : #a3fffa,
  A200 : #70fff8,
  A400 : #3dfff5,
  A700 : #24fff4,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$material-primary: mat.define-palette($custom-palette-primary);
$material-accent:  mat.define-palette($custom-palette-accent, 500);

$material-warn:    mat.define-palette(mat.$red-palette);

$material-theme: mat.define-light-theme((
  color: (
    primary: $material-primary,
    accent: $material-accent,
    warn: $material-warn,
  )
));

@include mat.all-component-themes($material-theme);
