:root {
  --color-background: #0f1922;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  margin: 10px;
}

.actions-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.action-btn {
  margin: 0 5px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-column-actions {
  min-width: 200px;
}

.mat-column-expand {
  width: 60px;
}


.mat-mdc-list-item {
  height: 70px;
}

.add-list-item:hover {
  background: whitesmoke;

  cursor: pointer !important;
}

.add-list-item:active {
  background: #efefef;
}

mat-form-field {
  width: 100%;
}
