<mat-card>

  <mat-card-header>
    <mat-card-title>Courses</mat-card-title>
    <mat-card-subtitle>Add courses to faculty</mat-card-subtitle>
  </mat-card-header>

  <div *ngFor="let course of addedCourses;">

    <mat-list role="courses">
      <mat-list-item role="course">
        <mat-icon matListItemIcon>school</mat-icon>
        <div matListItemTitle>{{course.title}}</div>
        
        <button mat-icon-button matListItemMeta
                (click)="deleteCourse(course)">
          <mat-icon color="warn">close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  
    <mat-divider></mat-divider>
  </div>

  <mat-list-item class="add-list-item" role="course" (click)="addCourse()">
    <mat-icon matListItemIcon>add</mat-icon>
    <div matListItemTitle>Add Course</div>
  </mat-list-item>

</mat-card>